<html>
<head>
  <title>Video Walls</title>
</head>
<body>
  <nav class="myNav">
    <span class="myNavText">
      FEEDBACK
    </span>
  </nav>
  <div class="outer1">
    <div class="card">
      <div class="card-body">
        <h4>Feedback of Salesman</h4>
        <div class="rating">
          <br/>
          <ol>
            <li>Technical knowledge of the expert</li>
                <div class="acidjs-rating-stars">
                    <form>
                        <input type="radio" [(ngModel)]="radio1" name="group-1" id="group-1-0" value="5" /><label for="group-1-0"></label>
                        <input type="radio" [(ngModel)]="radio1" name="group-1" id="group-1-1" value="4" /><label for="group-1-1"></label>
                        <input type="radio" [(ngModel)]="radio1" name="group-1" id="group-1-2" value="3" /><label for="group-1-2"></label>
                        <input type="radio" [(ngModel)]="radio1" name="group-1" id="group-1-3" value="2" /><label for="group-1-3"></label>
                        <input type="radio" [(ngModel)]="radio1" name="group-1" id="group-1-4"  value="1" /><label for="group-1-4"></label>
                    </form>
                </div>
              <li>Communication Ability</li>
              <div class="acidjs-rating-stars">
                  <form>
                      <input type="radio" [(ngModel)]="radio2" name="group-2" id="group-2-0" value="5" /><label for="group-2-0"></label>
                      <input type="radio" [(ngModel)]="radio2" name="group-2" id="group-2-1" value="4" /><label for="group-2-1"></label>
                      <input type="radio" [(ngModel)]="radio2" name="group-2" id="group-2-2" value="3" /><label for="group-2-2"></label>
                      <input type="radio" [(ngModel)]="radio2" name="group-2" id="group-2-3" value="2" /><label for="group-2-3"></label>
                      <input type="radio" [(ngModel)]="radio2" name="group-2" id="group-2-4"  value="1" /><label for="group-2-4"></label>
                  </form>
              </div>
              <li>Ability to convey his ideas</li>
              <div class="acidjs-rating-stars">
                  <form>
                      <input type="radio" [(ngModel)]="radio3" name="group-3" id="group-3-0" value="5" /><label for="group-3-0"></label>
                      <input type="radio" [(ngModel)]="radio3" name="group-3" id="group-3-1" value="4" /><label for="group-3-1"></label>
                      <input type="radio" [(ngModel)]="radio3" name="group-3" id="group-3-2" value="3" /><label for="group-3-2"></label>
                      <input type="radio" [(ngModel)]="radio3" name="group-3" id="group-3-3" value="2" /><label for="group-3-3"></label>
                      <input type="radio" [(ngModel)]="radio3" name="group-3" id="group-3-4"  value="1" /><label for="group-3-4"></label>
                  </form>
              </div>
              <li>Trust Factor</li>
              <div class="acidjs-rating-stars">
                  <form>
                      <input type="radio" [(ngModel)]="radio4" name="group-4" id="group-4-0" value="5" /><label for="group-4-0"></label>
                      <input type="radio" [(ngModel)]="radio4" name="group-4" id="group-4-1" value="4" /><label for="group-4-1"></label>
                      <input type="radio" [(ngModel)]="radio4" name="group-4" id="group-4-2" value="3" /><label for="group-4-2"></label>
                      <input type="radio" [(ngModel)]="radio4" name="group-4" id="group-4-3" value="2" /><label for="group-4-3"></label>
                      <input type="radio" [(ngModel)]="radio4" name="group-4" id="group-4-4"  value="1" /><label for="group-4-4"></label>
                  </form>
              </div>
              <li>Satisfaction Factor</li>
              <div class="acidjs-rating-stars">
                  <form>
                      <input type="radio" [(ngModel)]="radio5" name="group-5" id="group-5-0" value="5" /><label for="group-5-0"></label>
                      <input type="radio" [(ngModel)]="radio5" name="group-5" id="group-5-1" value="4" /><label for="group-5-1"></label>
                      <input type="radio" [(ngModel)]="radio5" name="group-5" id="group-5-2" value="3" /><label for="group-5-2"></label>
                      <input type="radio" [(ngModel)]="radio5" name="group-5" id="group-5-3" value="2" /><label for="group-5-3"></label>
                      <input type="radio" [(ngModel)]="radio5" name="group-5" id="group-5-4"  value="1" /><label for="group-5-4"></label>
                  </form>
              </div>
              <li>How was your experience using Sangeetha's Ask the Expert initiative?</li>
              <div class="acidjs-rating-stars">
                  <form>
                      <input type="radio" [(ngModel)]="radio6" name="group-6" id="group-6-0" value="5" /><label for="group-6-0"></label>
                      <input type="radio" [(ngModel)]="radio6" name="group-6" id="group-6-1" value="4" /><label for="group-6-1"></label>
                      <input type="radio" [(ngModel)]="radio6" name="group-6" id="group-6-2" value="3" /><label for="group-6-2"></label>
                      <input type="radio" [(ngModel)]="radio6" name="group-6" id="group-6-3" value="2" /><label for="group-6-3"></label>
                      <input type="radio" [(ngModel)]="radio6" name="group-6" id="group-6-4"  value="1" /><label for="group-6-4"></label>
                  </form>
              </div>
            </ol>

        </div>
        <div class="mySubmit">
          <button class="submitButton" (click)="submitForm()">SUBMIT</button>
        </div>
      </div>
    </div>
  </div>
  <img src="../../assets/images/VW-08.png">
</body>
</html>
