@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#myVideo{
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
html{
	height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}




.search-drop-down{
  width: 50%;
	position: absolute;
	left:25%;
	top:18%;
}

.dark-modal .modal-content {
	background-color: #292b2c;
	color: white;
}
.dark-modal .close {
	color: white;
}
.light-blue-backdrop {
	background-color: #5cb3fd;
}
.btn btn-danger{
	justify-content: center;
}
.myImageSet{
     height:100%;
		 width:100%;
		 max-width: 100%;
		 max-height: 100%;
}

/* ::placeholder {
		color: red;
    font-weight: bold;
}
:-moz-placeholder {
	color: red;

    font-weight: bold;
}
:-ms-input-placeholder {
	color: red;

    font-weight: bold;
} */
